$default-family: 'Open Sans', sans-serif;
$default-font-size: 14px;
$primary: #FB8F39;

$vue-js: #4FC08D;
$bulma: #00D1B2;
$bootstrap: #7952B3;
$typescript: #3178C6;
$java: #007396;
$groovy: #4298B8;
$solr: #D9411E;
$hibernate: #59666C;
$spring: #6DB33F;
$golang: #00ADD8;
$kotlin: #0095D5;
$docker: #2496ED;
$tensorflow: #FF6F00;
$pytorch: #EE4C2C;
$opencv: #5C3EE8;
$js: #F7DF1E;
$dojo: #f02541;
$php: #777BB4;
$laravel: #FF2D20;
$mysql: #4479A1;
$wordpress: #21759B;



@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
